<h1><%= @view.name %></h1>
<h2>Content Keys</h2>
<% @view.to_constant.content_keys.each do |key| %>
  <span><%= key %> </span>
<% end %>
<h2>Content Versions</h2>
<% @contents.each do |c| %>
  <%= link_to c.version.to_s, view_content_path(@view, c) %>
<% end %>
<%= link_to 'New', new_view_content_path(@view) %>
